---
---

:root {
	
	--background-color: #111;
	--background: url("/asset/image/layout/gradient.png");
	--section-border: #aaa;
	--section-background: #111;
	
	--text-color: #fef;
	--text-font: "Trebuchet MS", Verdana, sans-serif;
	--text-size: 14px;
	--text-link-color: #bde;
	--text-link-color-hover: #ede;
	
	--text-header-1: #dfe;
	--text-header-2: #fde;
	--text-header-3: #def;
	--text-header-4: #efd;
	--text-header-5: inherit;
	--text-header-6: inherit;
	
	--quote-color: #8a9;
	--code-color: #86a;
	
	--focus-bg-color: #112;
	--focus-skew: 1deg;
	
	--header-image: 
		url("/asset/image/layout/city.jpg");
	--header-image-height: 4rem;
	
	--footer-image: 
		url("/asset/image/layout/flowers.jpg");
	--footer-image-height: 8rem;

	--margin-background: #000;
	
	--scanline-color: #111;
	--scanline-spacing: 5px;
	--scanline-speed: 6s;
	
}

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: var(--background-color);
	
	width: 100vw;
	min-height: 100vh;
	
	color: white;
	
	color: var(--text-color);
	font-family: var(--text-font);
	font-size: var(--text-size);
	line-height: 1.6;
}

.site {
	background: var(--background);
	background-size: 100%;
	
	width: 100%;
	height: 100%;
	min-height: 100%;
}

.wrapper {
	background: var(--section-background);
	
	position: relative;
	
	width: min(42rem, max(80vw, 30rem), 100% - 0.5rem);
	max-width: 42rem;
	min-height: 100vh;
	
	margin: 0 auto;
	padding-top: calc(var(--header-image-height) + 4rem);
	padding-bottom: calc(var(--footer-image-height) + 4rem);
}

.content {
	position: relative;
	
	padding: 1rem;
	padding-left: 2rem;

	&::before {
		content: "";
		background: linear-gradient(
			#f0f,
			white,
			#0ff
		);
		
		position: absolute;
		width: 2px;
		height: calc(100% - 2rem);
		left: 10px;
		top: 1rem;
		z-index: 1;
	}
}


header, footer {
	background: var(--margin-background);
	position: absolute;
	width: 100%;
}
header {
	top: 0;
}
footer {
	bottom: 0;
}

.header-img, .footer-img {
	background: #000;
	
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	
	position: relative;
	isolation: isolate;
	
	width: 100%;
}
.header-img {
	background: var(--header-image);
	background-size: cover;
	background-position: 0 50%;
	border-bottom: 2px solid white;
	height: var(--header-image-height);
}
.footer-img {
	background: var(--footer-image);
	background-size: cover;
	background-position: 0 100%;
	border-top: 2px solid white;
	height: var(--footer-image-height);
}

@keyframes overlay-pan {
	from {
		background-position-y: 0%;
	}
	to {
		background-position-y: var(--scanline-spacing);
	}
}
.header-img::after, .footer-img::after {
	content: "";
	
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	
	z-index: 1;
	
	background: linear-gradient(
		var(--scanline-color) 0px,
		var(--scanline-color) 1px,
		transparent 1px,
		transparent var(--scanline-spacing)
	);
	background-size: auto var(--scanline-spacing);
	background-repeat: repeat-y;
	
	animation: overlay-pan var(--scanline-speed) infinite linear;
}


.header-links {
	display: flex;
	
	padding: 1rem;
}
.header-links>* {
	margin: 0 0.5rem;
}

.footer-text {
	text-align: right;
	padding: 1rem;
}



h1, h2, h3, h4, h5, h6 {
	line-height: 1.25;
	margin: 0.2rem 1.25rem;
	position: relative;
}

h1 {
	color: var(--text-header-1);
	font-size: 2em;
	font-weight: bold;
}

h2 {
	color: var(--text-header-2);
	font-size: 1.75em;
	font-weight: bold;
}

h3 {
	color: var(--text-header-3);
	font-size: 1.5em;
	font-weight: bold;
}
h4 {
	color: var(--text-header-4);
	font-size: 1.25em;
	font-weight: bold;
}

h5 {
	color: var(--text-header-5);
	font-size: 1em;
	font-weight: bold;
}

h6 {
	color: var(--text-header-6);
	font-size: 0.7em;
	font-weight: bold;
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before {
	content: "";
	
	border: currentcolor solid 2px;
	border-radius: 0.15rem;
	
	position: absolute;
	width: 0.5rem;
	height: 0.5rem;
	left: -1.25rem;
	top: 50%;
	transform: translateY(-50%);
	
	pointer-events: none;
	
	transition: left 0.3s;
}
h1:hover::before,
h2:hover::before,
h3:hover::before,
h4:hover::before,
h5:hover::before {
	left: -1.5rem;
}


hr {
	margin: 1.5rem;
	margin-left: 1rem;
	margin-right: 20%;
	border: none;
	border-top: var(--text-color) solid 1px;
}

p {
	margin: 1rem 0;
}

a {
	color: var(--text-link-color);
	text-decoration: underline;
	
	position: relative;

	transition: color 0.1s;

	&:hover {
		color: var(--text-link-color-hover);
	}
}

em {
	font-style: italic;
}
strong {
	font-weight: 700;
}

img {
	outline: 1px solid #4444;
	outline-offset: 1px;
	border-radius: 12px;

	max-width: 100%;
	height: auto;
	max-height: 70vh;

	margin: 0.5rem 0;

	transition: 
		border-radius 0.2s, 
		outline 0.1s;
	
	&:hover {
		border-radius: 4px;
		outline: 1px solid #888f;
	}
}


blockquote {
	margin: 0;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 1.25rem;

	font-size: inherit;
	line-height: 1.25;

	position: relative;
	isolation: isolate;

	width: 100%;

	transition: 
		box-shadow 0.3s;
	
	&::after {
		content: "";
		border-top: var(--quote-color) solid 2px;
		border-bottom: var(--quote-color) solid 2px;
		background: var(--focus-bg-color);
		border-radius: 4px;
	
		position: absolute;
		
		margin-left: 0rem;
		margin-right: 0rem;
	
		inset: 0;
	
		transform: skewY(var(--focus-skew));
		z-index: -1;
	
		transition: 
			border-top 0.2s,
			border-bottom 0.2s;
	}
	&:hover::after {
		border-top: white solid 2px;
		border-bottom: white solid 2px;
	}

	p::before {
		font-weight: bold;
		content: "> ";
	}
}

code {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border: var(--code-color) dashed 1px;
	border-radius: 2px;

	color: inherit;
	background-color: var(--focus-bg-color);

	font-family: monospace;
	font-size: inherit;
	line-height: 1.5;

	transition: box-shadow 0.3s;

	&:hover {
		box-shadow: 0 0 6px var(--code-color);
	}
}
pre code {
	padding: 1rem;
	padding-bottom: 1.25rem;
	border: none;
	background: none;

	tab-size: 3;
	display: block;

	font-family: monospace;
	font-size: inherit;
	word-break: break-all;
	white-space: pre-wrap;

	margin: 0;
	max-width: 100%;

	margin-top: 1rem;
	margin-bottom: 1rem;
	
	position: relative;
	isolation: isolate;

	transition: none;

	&::after {
		content: "";
		border-top: var(--code-color) solid 2px;
		border-bottom: var(--code-color) solid 2px;
		background: var(--focus-bg-color);
		border-radius: 4px;
		
		margin-left: 0rem;
		margin-right: 0rem;
	
		position: absolute;
	
		inset: 0;
	
		transform: skewY(var(--focus-skew));
		z-index: -1;
	
		transition: 
			border-top 0.2s,
			border-bottom 0.2s;
	}

	&:hover::after {
		border-top: white solid 2px;
		border-bottom: white solid 2px;
	}

	&:hover {
		box-shadow: none;
	}
}

ul, ol {
	list-style-position: outside;
	margin-left: 1rem;
	margin-bottom: 0.5rem;
}
ul {
	list-style-type: disc;
}
ul ul {
	list-style-type: circle;
	margin-left: 2rem;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style-type: lower-alpha;
	margin-left: 2rem;
}
ol ol ol {
	list-style-type: lower-roman;
}


table {
	border-collapse: collapse;

	min-width: 15rem;

	margin: 1rem 0.2rem;
}
table, td {
	border: #333 solid 1px;
}

td {
	padding: 0.2rem 0.5rem;
}



.highlight .err {
	color: #f00;
}

.highlight .k,
.highlight .kd,
.highlight .kn,
.highlight .kr,
.highlight .kt 
{
	color: #ccf;
}

.highlight .n,
.highlight .na,
.highlight .np,
.highlight .nc,
.highlight .no,
.highlight .nd,
.highlight .ni,
.highlight .ne,
.highlight .nf
{
	color: #fdd;
}

.highlight .nb
{
	color: #cfc;
}


